
__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
ENV/
env/

*.pth
*.pt
*.h5
*.ckpt
*.onnx


*.png
*.jpg
*.jpeg
*.pdf
*.svg

*.log
*.tmp
*.out

.ipynb_checkpoints/


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
Thumbs.db

.env

build/
dist/
.eggs/
*.egg-info/

policy.pth
training_plot.png